<% product.each do |product| %>
<div class="col-lg-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p>Name: <%= product.name %> </p>
                            <p>Price: <%= product.price %> </p>
                            <h5 class="card-title">Title: <%= product.title %> </h5>
                            <p>Description: <%= product.description %> </p>
                            
                        </div>
                    </div>
          </div>

<% end %>
